html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 9fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
}

canvas.hide {
    visibility: hidden;
}

#canvas {
    max-width: 100%;
    max-height: 100%;
    place-self: center;
    margin-top: 1em;
    border: 0.5em solid black;
    box-shadow: 10px 10px 6px #000;
}

#toolbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
}

#toolbar > * {
  margin-left: 1.5em;
}
